<p class="my-6">
  You've logged into Discord as <%= @discord_name %>. Now login into Goonfleet with your forums account:
</p>

<.link
  href={~p"/auth/goonfleet"}
  class="px-6 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
>
  Login here
</.link>
